# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [9]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [10]:
# Set the date column as the DataFrame index
df = df.set_index('date')
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [ ]:
# Drop the date column

### Compare June and December data across all years

In [11]:
from scipy import stats

In [39]:
# Filter data for desired months
june_df = df.loc[df.index.month == 6, :]
dec_df = df.loc[df.index.month == 12, :]

In [38]:
# Identify the average temperature for June
june_avg_temp = june_df['tobs'].mean()
june_avg_temp

74.94411764705882

In [40]:
# Identify the average temperature for December
dec_avg_temp = dec_df['tobs'].mean()
dec_avg_temp

71.04152933421226

In [42]:
# Create collections of temperature data
june_tobs = june_df['tobs'].to_list()
dec_tobs = dec_df['tobs'].to_list()

In [53]:
# Run paired t-test
tstat, pvalue = stats.ttest_ind(june_tobs, dec_tobs)
print(f'P Value: {pvalue}; T Stat: {round(tstat, 2)}')

P Value: 3.9025129038616655e-191; T Stat: 31.6

### Analysis

Based on the results of the unpaired T-Test, we can reject the null hypothesis and conclude that there is a meaningful difference in temperature between June and December. I decided to use the unpaired T-Test because there were an unequal number of temperature observations in June and December.